/FileDialogLib/bin/Debug/BinaryImageLib.dll
/FileDialogLib/bin/Debug/FileDialogLib.dll
/FileDialogLib/bin/Debug/FileDialogLib.pdb
/FileDialogLib/bin/Debug/GameArchiveLib.dll
/FileDialogLib/bin/Debug/GameDataLib.dll
/FileDialogLib/bin/Debug/GameGraphicsLib.dll
/FileDialogLib/bin/Debug/GameObjectLib.dll
/FileDialogLib/bin/Debug/GameObserverLib.dll
/FileDialogLib/bin/Debug/Messaging.dll
/FileDialogLib/bin/Debug/MonoGame.Framework.dll
/FileDialogLib/bin/Debug/MonoGame.Framework.xml
/FileDialogLib/bin/Debug/SharpDX.DXGI.dll
/FileDialogLib/bin/Debug/SharpDX.Direct2D1.dll
/FileDialogLib/bin/Debug/SharpDX.Direct3D11.dll
/FileDialogLib/bin/Debug/SharpDX.Direct3D9.dll
/FileDialogLib/bin/Debug/SharpDX.MediaFoundation.dll
/FileDialogLib/bin/Debug/SharpDX.RawInput.dll
/FileDialogLib/bin/Debug/SharpDX.XAudio2.dll
/FileDialogLib/bin/Debug/SharpDX.XInput.dll
/FileDialogLib/bin/Debug/SharpDX.dll
/FileDialogLib/bin/Debug/GameGraphicsLib.pdb
/FileDialogLib/bin/Release/BinaryImageLib.dll
/FileDialogLib/bin/Release/FileDialogLib.dll
/FileDialogLib/bin/Release/FileDialogLib.pdb
/FileDialogLib/bin/Release/GameArchiveLib.dll
/FileDialogLib/bin/Release/GameDataLib.dll
/FileDialogLib/bin/Release/GameGraphicsLib.dll
/FileDialogLib/bin/Release/GameGraphicsLib.pdb
/FileDialogLib/bin/Release/GameObjectLib.dll
/FileDialogLib/bin/Release/GameObserverLib.dll
/FileDialogLib/bin/Release/Messaging.dll
/FileDialogLib/bin/Release/MonoGame.Framework.dll
/FileDialogLib/bin/Release/MonoGame.Framework.xml
/FileDialogLib/bin/Release/SharpDX.DXGI.dll
/FileDialogLib/bin/Release/SharpDX.Direct2D1.dll
/FileDialogLib/bin/Release/SharpDX.Direct3D11.dll
/FileDialogLib/bin/Release/SharpDX.Direct3D9.dll
/FileDialogLib/bin/Release/SharpDX.MediaFoundation.dll
/FileDialogLib/bin/Release/SharpDX.RawInput.dll
/FileDialogLib/bin/Release/SharpDX.XAudio2.dll
/FileDialogLib/bin/Release/SharpDX.XInput.dll
/FileDialogLib/bin/Release/SharpDX.dll
/FileDialogLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/FileDialogLib/obj/Release/FileDialogLib.csproj.FileListAbsolute.txt
/FileDialogLib/obj/Release/FileDialogLib.csprojResolveAssemblyReference.cache
/FileDialogLib/obj/Release/FileDialogLib.dll
/FileDialogLib/obj/Release/FileDialogLib.pdb
