/FileDialogLib/bin/Debug/BinaryImageLib.dll
/FileDialogLib/bin/Debug/FileDialogLib.dll
/FileDialogLib/bin/Debug/FileDialogLib.pdb
/FileDialogLib/bin/Debug/GameArchiveLib.dll
/FileDialogLib/bin/Debug/GameDataLib.dll
/FileDialogLib/bin/Debug/GameGraphicsLib.dll
/FileDialogLib/bin/Debug/GameObjectLib.dll
/FileDialogLib/bin/Debug/GameObserverLib.dll
/FileDialogLib/bin/Debug/Messaging.dll
/FileDialogLib/bin/Debug/MonoGame.Framework.dll
/FileDialogLib/bin/Debug/MonoGame.Framework.xml
/FileDialogLib/bin/Debug/SharpDX.DXGI.dll
/FileDialogLib/bin/Debug/SharpDX.Direct2D1.dll
/FileDialogLib/bin/Debug/SharpDX.Direct3D11.dll
/FileDialogLib/bin/Debug/SharpDX.Direct3D9.dll
/FileDialogLib/bin/Debug/SharpDX.MediaFoundation.dll
/FileDialogLib/bin/Debug/SharpDX.RawInput.dll
/FileDialogLib/bin/Debug/SharpDX.XAudio2.dll
/FileDialogLib/bin/Debug/SharpDX.XInput.dll
/FileDialogLib/bin/Debug/SharpDX.dll
